# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# IDE settings
.vs/
.idea/
*.code-workspace

# Distribution / build folders
dist/
build/
*.egg-info/
.dist/

# Secrets and environment variables
*.env
config.env

# Ignore all contents inside user_uploads folder
user_uploads/*

# But keep this placeholder file to preserve folder in Git
!user_uploads/.keep


# Logs
*.log
